@namespace FileFlows.Client.Pages
@using FileFlows.Shared.Models
@inherits ListPage<Guid, Library>

@page "/libraries"

<PageView>

    <Head>
    </Head>

    <Body>
        
        <FlowTable @ref="Table" Data="@Data" TItem="Library" Selection="SelectionMode.Multiple"
            DoubleClick="@OnDoubleClick">
            <ToolBar>            
                <FlowTableButton TItem="Library" Clicked=Add Icon="fas fa-plus" Label="Labels.Add" />
                <FlowTableButton TItem="Library" Clicked=Edit SelectedOne="true" Icon="fas fa-edit" Label="Labels.Edit" />
                <FlowTableButton TItem="Library" Clicked=Delete SelectedOneOrMore="true" Icon="fas fa-trash" Label="Labels.Delete" />
                <FlowTableButtonSeparator />            
                <FlowTableButton TItem="Library" Clicked=Rescan SelectedOneOrMore=true Icon="fas fa-search-plus" Label="Labels.Rescan" />
                @if (App.Instance.FileFlowsSystem.Licensed)
                {
                    <FlowTableButton TItem="Library" Clicked=Revisions SelectedOne="true" Icon="fas fa-history" Label="Labels.Revisions" />
                }
                <FlowTableButtonSeparator />
                <FlowTableHelpButton TItem="Library" HelpUrl="libraries" />
            </ToolBar>

            <Columns>
                <FlowTableColumn TItem="Library" Width="14rem">
                    <Header>
                        @Globals.lblName
                    </Header>
                    <Cell Context="item">
                        <span>@item.Name</span>
                    </Cell>
                </FlowTableColumn>
                <FlowTableColumn TItem="Library" MobileWidth="0">
                    <Header>
                        Path
                    </Header>
                    <Cell Context="item">
                        <span>@item.Path</span>
                    </Cell>
                </FlowTableColumn>
                <FlowTableColumn TItem="Library" Width="14rem" MobileWidth="0">
                    <Header>
                        Flow
                    </Header>
                    <Cell Context="item">
                        <span>@item.Flow?.Name</span>
                    </Cell>
                </FlowTableColumn>
                <FlowTableColumn TItem="Library" Width="12rem" MobileWidth="0">
                    <Header>
                        Last Scanned
                    </Header>
                    <Cell Context="item">
                        <span>@TimeSpanToString(item)</span>
                    </Cell>
                </FlowTableColumn>
                
                <FlowTableColumn TItem="Library" Width="8rem" MobileWidth="0">
                    <Header>
                        Priority
                    </Header>
                    <Cell Context="item">
                        <span>@item.Priority</span>
                    </Cell>
                </FlowTableColumn>
                <FlowTableColumn TItem="Library" Width="6rem" MobileWidth="4rem">
                    <Header>
                        @Globals.lblEnabled
                    </Header>
                    <Cell Context="item">
                        <FlowSwitch Value="@item.Enabled" ValueChanged="@(args => { item.Enabled= args; _ = Enable(args, item); })"  />
                    </Cell>
                </FlowTableColumn>
            </Columns>
        </FlowTable>

    </Body>

</PageView>

@if(Loaded && HasData == false)
{
    <div class="pointer-add">Add</div>
}
