@namespace FileFlows.Client.Components.Dashboard

@if (Data != null && Data.Count > 1) // greater than one here since total is always included
{
    const string KEY_TOTAL = "###TOTAL###";
    const string KEY_OTHER = "###OTHER###";
    var total = Data.Where(x => x.Key == KEY_TOTAL).Select(x => x.Value).FirstOrDefault() ?? new ShrinkageData();
    double max = Math.Max(total.OriginalSize, total.FinalSize);
    <div class="portlet">
        <div class="title">
            <i class="fas fa-hdd"></i>
            <span>@lblShrinkageTitle</span>
        </div>
        <div class="portlet-body">
            @foreach(var group in Data.OrderBy(x => x.Key == KEY_TOTAL ? 2 : x.Key == KEY_OTHER ? 1 : 0).ThenByDescending(x => x.Value.Items))
            {
                max = Math.Max(group.Value.OriginalSize, group.Value.FinalSize);
                long diff = (long)Math.Abs(group.Value.OriginalSize - group.Value.FinalSize);
                int origPercent = (int)((group.Value.OriginalSize / max) * 100);
                int finalPercent = (int)((group.Value.FinalSize / max) * 100);
                bool loss = finalPercent > origPercent;
                string tooltip = Translater.Instant("Labels." + (loss ? "SpaceIncrease" : "SpaceSavings"), new { size = Helpers.FileSizeFormatter.FormatSize(diff), items = group.Value.Items });
                <div class="library @(group.Value == total ? "total": "")">
                    <div class="name">@(group.Value == total ? lblTotal : group.Key == KEY_OTHER ? lblOther : group.Key)</div>
                    <div class="flow-bar @(finalPercent > origPercent ? "grew" : "")" title="@tooltip">
                        <div class="bar-value" style="width:@(finalPercent)%" />
                    </div>
                </div>
            }
        </div>
    </div>
}