@namespace FileFlows.Client.Components.Common

@{
    int hlStart = MouseDown ? Math.Min(MouseOverQh, MouseDownQh) : -1;
    int hlEnd = MouseDown ? Math.Max(MouseOverQh, MouseDownQh) : -1;
    int hlQuarterStart = MouseDown ? hlStart % 96 : -1;
    int hlQuarterEnd = MouseDown ? hlEnd % 96 : -1;
    if(hlQuarterStart > hlQuarterEnd)
    {
        hlQuarterStart = hlEnd % 96;
        hlQuarterEnd = hlStart % 96;
    }
    int hlDayStart = MouseDown ? hlStart / 96 : -1;
    int hlDayEnd = MouseDown ? hlEnd / 96 : -1;
}

<div class="flow-schedule @DisplaySize" @onmouseleave="() => OnMouseLeave()" @onmouseover="(e) => OnMouseEnter(e)">
    <table class="schedule-am">
        <thead>
            <tr class="meridian">
                <th class="day-label" rowspan="2"></th>
                <th colspan="48">a.m.</th>
            </tr>
            <tr class="hour-list">
                @for(int i = 0; i < 12; i++)
                {
                    string hour = i.ToString();
                    if (i == 0)
                        hour = "12";
                    <th colspan="4">
                        @hour
                    </th>       
                }
            </tr>

        </thead>
        <tbody>
            @for(int i = 0; i < 7; i++)
            {
                <tr>
                    <td class="day-label">@DayLabels[i]</td>
                    @for(int j = 0; j < 48; j++)
                    {
                        int qh = (i * 96) + j;
                        bool filled = Value[qh] == '1';
                        bool highlighted = i >= hlDayStart && i <= hlDayEnd && j >= hlQuarterStart && j <= hlQuarterEnd;

                        <td class="quarter-hour hour-@(j%4) @(filled ? "filled" : "") @(highlighted ? "highlighted": "")" data-quarter-hour="@qh" @onmousedown="(e) => OnMouseDown(e, qh)" @onmouseup="(e) => OnMouseUp(e, qh)" @onmouseover="(e) => OnMouseOver(e, qh)">
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
    <div class="spacer"></div>
    <table class="schedule-pm">
        <thead>
            <tr class="meridian">
                <th class="day-label" rowspan="2"></th>
                <th colspan="48">p.m.</th>
            </tr>
            <tr class="hour-list">
                @for(int i = 12; i < 24; i++)
                {
                    string hour = i.ToString();
                    if (i == 0)
                        hour = "12";
                    else if (i > 12)
                        hour = (i - 12).ToString();          
                    <th colspan="4">
                        @hour
                    </th>       
                }
            </tr>

        </thead>
        <tbody>
            @for(int i = 0; i < 7; i++)
            {
                <tr>
                    <td class="day-label">@DayLabels[i]</td>
                    @for(int j = 48; j < 96; j++)
                    {
                        int qh = (i * 96) + j;
                        bool filled = Value[qh] == '1';
                        bool highlighted = i >= hlDayStart && i <= hlDayEnd && j >= hlQuarterStart && j <= hlQuarterEnd;

                        <td class="quarter-hour hour-@(j%4) @(filled ? "filled" : "") @(highlighted ? "highlighted": "")" data-quarter-hour="@qh" @onmousedown="(e) => OnMouseDown(e, qh)" @onmouseup="(e) => OnMouseUp(e, qh)" @onmouseover="(e) => OnMouseOver(e, qh)">
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>