@namespace FileFlows.Client.Pages
@page "/settings"

<PageView>

    <Head>
        <button @onclick=@Save>
            @if(IsSaving)
            {
                @lblSaving
            }
            else
            {
                @lblSave
            }
        </button>

        <button @onclick=@OpenHelp>
            @lblHelp
        </button>
    </Head>

    <Body>
        <div class="settings">
            
            <FlowTabs>
                <FlowTab Title="@lblGeneral">
                    <InputSwitch @bind-Value="@Model.DisableTelemetry" Inverse="@true" Label="Pages.Settings.Fields.Telemetry"/>
                    <InputSwitch Disabled="@Model.DisableTelemetry" @bind-Value="@Model.AutoUpdate" Label="Pages.Settings.Fields.AutoUpdate"/>
                    <InputSwitch Disabled="@Model.DisableTelemetry" @bind-Value="@Model.AutoUpdatePlugins" Label="Pages.Settings.Fields.AutoUpdatePlugins"/>
                    <InputSwitch Disabled="@Model.DisableTelemetry" @bind-Value="@Model.AutoUpdateNodes" Label="Pages.Settings.Fields.AutoUpdateNodes"/>
                    <InputSwitch @bind-Value="@Model.LogQueueMessages" Inverse="@true" Label="Pages.Settings.Fields.LogQueueMessages"/>
                </FlowTab>
                <FlowTab Title="@lblNode" Visible="@ShowInternalProcessingNdoe">
                    <p>@lblInternalProcessingNodeDescription</p>
                    <hr />
                    <InputSwitch @bind-Value="@InternalProcessingNode.Enabled" Label="Pages.Settings.Fields.InternalProcessingNode.Enabled" />
                    <InputNumber @bind-Value="@InternalProcessingNode.FlowRunners" Label="Pages.Settings.Fields.InternalProcessingNode.FlowRunners" Min=0 Max=100 />
                    <InputFile @bind-Value="@InternalProcessingNode.TempPath" Directory="true" Validators=@RequiredValidator
                        Label="Pages.Settings.Fields.InternalProcessingNode.TempPath" />
                    <hr />
                    <InputSchedule @bind-Value="@InternalProcessingNode.Schedule" Label="Pages.Settings.Fields.InternalProcessingNode.Schedule" />
                </FlowTab>
                <FlowTab Title="@lblDatabase" Visible="@ShowExternalDatabase">
                    <p class="box info">@lblDbDescription</p>
                    <InputSelect @bind-Value="@DbType" Options=@DbTypes Label="Pages.Settings.Fields.Database.Type" AllowClear="false" />
                    @if (Model.DbType != DatabaseType.Sqlite)
                    {
                        <InputText @bind-Value=@Model.DbServer Label="Pages.Settings.Fields.Database.Server" Validators=@RequiredValidator />
                        <InputText @bind-Value=@Model.DbName Label="Pages.Settings.Fields.Database.Name" Validators=@RequiredValidator/>
                        <InputText @bind-Value=@Model.DbUser Label="Pages.Settings.Fields.Database.User" Validators=@RequiredValidator/>
                        <InputPassword @bind-Value=@Model.DbPassword Label="Pages.Settings.Fields.Database.Password" Validators=@RequiredValidator/>
                        <div class="btn-test">
                            <button class="btn" @onclick=@TestDbConnection>@lblTest</button>
                        </div>
                    }
                </FlowTab>
                <FlowTab Title="@lblAdvanced">
                    <InputTextAreaList @bind-Value="@Model.PluginRepositoryUrls" Label="Pages.Settings.Fields.PluginRepositoryUrls" />
                </FlowTab>
            </FlowTabs>
        </div>
    </Body>

</PageView>