@namespace FileFlows.Client.Pages
@page "/settings"

<PageView>

    <Head>
        <button @onclick=@Save>
            @if(IsSaving)
            {
                @lblSaving
            }
            else
            {
                @lblSave
            }
        </button>

        <button @onclick=@OpenHelp>
            @lblHelp
        </button>
    </Head>

    <Body>
        <div class="settings">
            <Fieldset Title="Pages.Settings.Labels.General">
                <InputSwitch @bind-Value="@Model.DisableTelemetry" Inverse="@true" Label="Pages.Settings.Fields.Telemetry" />
                <InputSelect Value="@Model.TimeZone" ValueChanged="TimeZoneChanged" Label="Pages.Settings.Fields.TimeZone" Options="@TimeZones" />
            </Fieldset>
            <Fieldset Title="Pages.Settings.Labels.Directories">
                <InputFile @bind-Value="@Model.TempPath" Directory="true" Validators=@DirectoryValidators
                    Label="Pages.Settings.Fields.TempPath" />
                <InputFile @bind-Value="@Model.LoggingPath" Directory="true" Validators=@DirectoryValidators
                    Label="Pages.Settings.Fields.LoggingPath" />
            </Fieldset>
            <Fieldset Title="Pages.Settings.Labels.Workers">
                <InputSwitch @bind-Value="@Model.WorkerScanner" Label="Pages.Settings.Fields.WorkerScanner" />
                <InputSwitch @bind-Value="@Model.WorkerFlowExecutor"
                    Label="Pages.Settings.Fields.WorkerFlowExecutor" />
            </Fieldset>
        </div>
    </Body>

</PageView>