@namespace FileFlows.Client.Pages
@page "/settings"

<PageView>

    <Head>
        <button @onclick=@Save>
            @if(IsSaving)
            {
                @lblSaving
            }
            else
            {
                @lblSave
            }
        </button>

        <button @onclick=@OpenHelp>
            @lblHelp
        </button>
    </Head>

    <Body>
        <div class="settings">
            
            <FlowTabs>
                <FlowTab Title="@lblGeneral">
                    @if (Model.IsWindows && false)
                    {
                        <InputSwitch @bind-Value="@Model.AutoUpdate" Label="Pages.Settings.Fields.AutoUpdate"/>
                    }
                    <InputSwitch @bind-Value="@Model.AutoUpdatePlugins" Label="Pages.Settings.Fields.AutoUpdatePlugins"/>
                    <InputSwitch @bind-Value="@Model.AutoUpdateNodes" Label="Pages.Settings.Fields.AutoUpdateNodes"/>
                    <InputSwitch @bind-Value="@Model.CompressLibraryFileLogs" Label="Pages.Settings.Fields.CompressLibraryFileLogs"/>
                    <InputSwitch @bind-Value="@Model.DisableTelemetry" Inverse="@true" Label="Pages.Settings.Fields.Telemetry"/>
                </FlowTab>
                @if (ShowInternalProcessingNdoe)
                {
                    <FlowTab Title="@lblNode">
                        <p>@lblInternalProcessingNodeDescription</p>
                        <hr />
                        <InputSwitch @bind-Value="@InternalProcessingNode.Enabled" Label="Pages.Settings.Fields.InternalProcessingNode.Enabled" />
                        <InputNumber @bind-Value="@InternalProcessingNode.FlowRunners" Label="Pages.Settings.Fields.InternalProcessingNode.FlowRunners" Min=0 Max=100 />
                        <InputFile @bind-Value="@InternalProcessingNode.TempPath" Directory="true" Validators=@DirectoryValidators
                            Label="Pages.Settings.Fields.InternalProcessingNode.TempPath" />
                        <hr />
                        <InputSchedule @bind-Value="@InternalProcessingNode.Schedule" Label="Pages.Settings.Fields.InternalProcessingNode.Schedule" />
                    </FlowTab>
                }
                <FlowTab Title="@lblAdvanced">
                    <InputTextAreaList @bind-Value="@Model.PluginRepositoryUrls" Label="Pages.Settings.Fields.PluginRepositoryUrls" />
                </FlowTab>
            </FlowTabs>
        </div>
    </Body>

</PageView>