@namespace FileFlows.Client.Pages
@using FileFlows.Shared.Models
@inherits ListPage<Tool>

@page "/tools"

<PageView>

    <Head>
    </Head>

    <Body>
        <FlowTable @ref="Table" Data="@Data" TItem="Tool" Selection="SelectionMode.Multiple"
            DoubleClick="@OnDoubleClick">
            <ToolBar>            
                <FlowTableButton TItem="Tool" Clicked=Add Icon="fas fa-plus" Label="Labels.Add" />
                <FlowTableButton TItem="Tool" Clicked=Edit SelectedOne="true" Icon="fas fa-edit" Label="Labels.Edit" />
                <FlowTableButton TItem="Tool" Clicked=Delete SelectedOneOrMore="true" Icon="fas fa-trash" Label="Labels.Delete" />                
                <FlowTableHelpButton TItem="Tool" HelpUrl="tools" />
            </ToolBar>

            <Columns>
                <FlowTableColumn TItem="Tool" Width="14rem" MobileWidth="auto">
                    <Header>
                        @Globals.lblName
                    </Header>
                    <Cell Context="item">
                        <span>@item.Name</span>
                    </Cell>
                </FlowTableColumn>
                <FlowTableColumn TItem="Tool" MobileWidth="0">
                    <Header>
                        Path
                    </Header>
                    <Cell Context="item">
                        <span>@item.Path</span>
                    </Cell>
                </FlowTableColumn>
            </Columns>
        </FlowTable>

    </Body>

</PageView>