@namespace FileFlow.Client.Pages
@using FileFlow.Shared.Models
@inherits ListPage<LibraryFile>

@page "/library-files"

<PageView>

    <Head>
    </Head>

    <Body>
        <div class="page-table">
            <div class="table-toolbar">
                <button @onclick="@Edit" disabled="@(SelectedItems?.Count == 1 ? null : "disabled")"><span
                        class="fas fa-edit"></span>
                    @lblEdit</button>
                <button @onclick="@Delete" disabled="@(SelectedItems?.Any() == true ? null : "disabled")"><span
                        class="fas fa-trash"></span>
                    @lblDelete</button>
            </div>
            @{
                bool paging = Data.Count > (DataGrid == null ? 250 : DataGrid.PageSize);
            }

            <RadzenDataGrid @ref="DataGrid" AllowFiltering="true" PageSizeOptions="@PageSizeOptions"
                RowDoubleClick=@RowDoubleClicked SelectionMode="DataGridSelectionMode.Multiple"
                @bind-Value=@SelectedItems AllowColumnResize="true" FilterMode="FilterMode.Advanced"
                AllowPaging="@paging" AllowSorting="true" Data="@Data" TItem="LibraryFile"
                LogicalFilterOperator="LogicalFilterOperator.Or">
                <Columns>
                    <RadzenDataGridColumn TItem="LibraryFile" Width="40px" Sortable="false" Filterable="false">
                        <HeaderTemplate>
                            <RadzenCheckBox TriState="false" TValue="bool"
                                Value="@(Data.Any(i => SelectedItems != null && SelectedItems.Contains(i)))"
                                Change="@(args => SelectedItems = args ? Data.ToList() : null)" />
                        </HeaderTemplate>
                        <Template Context="data">
                            <RadzenCheckBox TriState="false"
                                Value="@(SelectedItems != null && SelectedItems.Contains(data))" />
                        </Template>
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="LibraryFile" Property="Name" Title="Name" />
                    <RadzenDataGridColumn TItem="LibraryFile" Property="FlowName" Title="Flow" />
                </Columns>
            </RadzenDataGrid>
        </div>
    </Body>

</PageView>