@namespace FileFlows.Client.Pages
@using FileFlows.Shared.Models
@inherits ListPage<LibraryFile>

@page "/library-files"

<PageView Flex="@true" Title="@Title">

    <Head>
    </Head>

    <Body>

        <div class="status-picker">
            @foreach (var status in Statuses)
            {
                if(status.Status == FileStatus.OutOfSchedule && status.Count == 0)
                {
                    continue;
                }
                <div class="status @status.Status @(status.Status == SelectedStatus ? "active" : "")"
                @onclick="() => SetSelected(status)">
                    @switch (status.Status)
                    {
                        case FileStatus.Unprocessed:
                            <span class=" icon far fa-hourglass"></span>
                            break;
                        case FileStatus.Processed:
                            <span class="icon far fa-check-circle"></span>
                            break;
                        case FileStatus.Processing:
                            <span class="icon fas fa-file-medical-alt"></span>
                            break;
                        case FileStatus.FlowNotFound:
                            <span class="icon fas fa-exclamation"></span>
                            break;
                        case FileStatus.ProcessingFailed:
                            <span class="icon far fa-times-circle"></span>
                            break;
                        case FileStatus.OutOfSchedule:
                            <span class="icon far fa-calendar-times"></span>
                            break;

                    }

                    <span class="count">@status.Count</span>
                    <span class="name">@status.Name</span>
                </div>
            }
        </div>

        <FlowTable @ref="Table" Data="@Data" TItem="LibraryFile" Selection="SelectionMode.Multiple"
            DoubleClick="@OnDoubleClick">
            <ToolBar>                    
                <FlowTableButton TItem="LibraryFile" Clicked=Edit SelectedOne="true" Icon="fas fa-edit" Label="Labels.Edit" />
                <FlowTableButton TItem="LibraryFile" Clicked=Delete SelectedOneOrMore="true" Icon="fas fa-trash" Label="Labels.Delete" />
                
                @if (SelectedStatus == FileStatus.Unprocessed)
                {
                    <FlowTableButton TItem="LibraryFile" Clicked=MoveToTop SelectedOneOrMore="true" Icon="far fa-caret-square-up" Label="Pages.LibraryFiles.Buttons.MoveToTop" />
                }
            </ToolBar>

            <Columns>
                <FlowTableColumn TItem="LibraryFile">
                    <Header>
                        @Globals.lblName
                    </Header>
                    <Cell Context="item">
                        <span>@item.Name</span>
                    </Cell>
                </FlowTableColumn>
                <FlowTableColumn TItem="LibraryFile" Width="12rem" MobileWidth="0" Hidden="@((int)SelectedStatus < 1)">
                    <Header>
                        Flow
                    </Header>
                    <Cell Context="item">
                        <span>@item.Flow.Name</span>
                    </Cell>
                </FlowTableColumn>
                <FlowTableColumn TItem="LibraryFile" Width="12rem" MobileWidth="0">
                    <Header>
                        Library
                    </Header>
                    <Cell Context="item">
                        <span>@item.Library.Name</span>
                    </Cell>
                </FlowTableColumn>
                <FlowTableColumn TItem="LibraryFile" Width="6rem" Hidden="(SelectedStatus == FileStatus.Unprocessed)" MobileWidth="5rem">
                    <Header>
                        Time
                    </Header>
                    <Cell Context="item">
                        <span>@String.Format(@"{0:hh\:mm\:ss}", item.ProcessingTime)</span>
                    </Cell>
                </FlowTableColumn>
                <FlowTableColumn TItem="LibraryFile" Width="min(6rem, 10vw)" Hidden="@(SelectedStatus != FileStatus.Processed || App.Instance.IsMobile)">
                    <Header>
                        Size
                    </Header>
                    <Cell Context="item">
                        @{
                            long fs = item.FinalSize;
                            long os = item.OriginalSize;
                            int width = (int)((((double)fs) / os) * 100);
                            bool bigger = width > 100;
                            if (width > 100)
                                width = 100;
                            string toolTip = Helpers.FileSizeFormatter.FormatShrinkage(os, fs);
                        }
                        @if(fs > 0){
                            <div class="shrinkage @(bigger ? "it-grew" : "")" title="@toolTip">
                                <div class="amount" style="width:calc(@(width)% - 2px)"></div>
                            </div>
                        }
                    </Cell>
                </FlowTableColumn>
            </Columns>
        </FlowTable>

    </Body>

</PageView>