@namespace FileFlows.Client.Pages
@using FileFlows.Shared.Models
@using Microsoft.AspNetCore.Components
@using Humanizer
@inherits ListPage<Guid, LibaryFileListModel>

@page "/library-files"

<PageView Flex="@true" Title="@Title">

<Head>
    <a class="btn btn-search" @onclick=@Search>
        <span>@lblSearch</span>
    </a>
</Head>

<Body>

<FlowSkyBox TItem="FileStatus" @ref=Skybox OnSelected=@SetSelected />

@if (SelectedStatus == FileStatus.MissingLibrary)
{
    <div class="info box">The libraries these files belong to have been deleted. A new library may have been created with the same path, but the ID of the library has changed.
        To process these files, delete them and scan the library again.
    </div>
}

<FlowTable @ref="Table" Data="@Data" TItem="LibaryFileListModel" Selection="SelectionMode.Multiple"
           TableIdentifier=@TableIdentifier DoubleClick="@OnDoubleClick" MinWidth="@NameMinWidth"
           ShowPager=@true TotalItems=@TotalItems OnPageChange=@PageChange OnPageSizeChange=@PageSizeChange
           OnFilter="OnFilter"
           >
    <ToolBar>
        <FlowTableButton Clicked=Edit SelectedOne="true" Icon="fas fa-file" Label="Labels.View" />
        <FlowTableButton Visible="@(Skybox?.SelectedItem?.Value == FileStatus.Duplicate)" Clicked=Reprocess SelectedOneOrMore="true" Icon="fas fa-redo" Label="Pages.LibraryFiles.Buttons.Process" />
        <FlowTableButton Visible="@(SelectedStatus == FileStatus.OutOfSchedule)" Clicked=ForceProcessing SelectedOneOrMore="true" Icon="fas fa-redo" Label="Pages.LibraryFiles.Buttons.Process" />
        <FlowTableButton Visible="@(SelectedStatus == FileStatus.Processing)" Clicked=Cancel SelectedOneOrMore="true" Icon="fas fa-window-close" Label="Labels.Cancel" />
        <FlowTableButton Visible="@(SelectedStatus != FileStatus.Processing)" Clicked=Delete SelectedOneOrMore="true" Icon="fas fa-trash" Label="Labels.Remove" />
        <FlowTableButton Visible="@(SelectedStatus != FileStatus.Processing)" Area="ButtonArea.ContextMenu" Clicked=DeleteFile SelectedOneOrMore="true" Icon="fas fa-trash" Label="Labels.Delete" />
        
        <FlowTableButtonSeparator Visible="@(SelectedStatus == FileStatus.Unprocessed)" />    
        <FlowTableButton Visible="@(SelectedStatus == FileStatus.Unprocessed)" Clicked=MoveToTop SelectedOneOrMore="true" Icon="far fa-caret-square-up" Label="Pages.LibraryFiles.Buttons.MoveToTop" />
        <FlowTableButton Visible="@(SelectedStatus == FileStatus.Unprocessed)" Clicked=Rescan Icon="fas fa-search-plus" Label="Labels.Rescan" />
        
        <FlowTableButtonSeparator Visible="@(SelectedStatus == FileStatus.Processed || SelectedStatus == FileStatus.ProcessingFailed || SelectedStatus == FileStatus.MappingIssue)" />    
        <FlowTableButton Visible="@(SelectedStatus == FileStatus.Processed || SelectedStatus == FileStatus.ProcessingFailed || SelectedStatus == FileStatus.MappingIssue)" Clicked=Reprocess SelectedOneOrMore="true" Icon="fas fa-redo" Label="Pages.LibraryFiles.Buttons.Reprocess" />
    
        <FlowTableButton Visible="@(SelectedStatus != FileStatus.Processing && SelectedStatus != FileStatus.Processed)" Area="ButtonArea.ContextMenu" Clicked="(() => SetStatus(FileStatus.Processed))" SelectedOneOrMore="true" Icon="far fa-check-circle" Label="Labels.SetStatusProcessed" />
    
        <FlowTableButtonSeparator Visible="@(SelectedStatus == FileStatus.OnHold)" />    
        <FlowTableButton Visible=@(SelectedStatus == FileStatus.OnHold) Clicked=Unhold SelectedOneOrMore="true" Icon="fas fa-running" Label="Pages.LibraryFiles.Buttons.Unhold" />
        
        <FlowTableButtonSeparator />    
        <FlowTableHelpButton HelpUrl="library-files" />
    </ToolBar>

    <Columns>
        <FlowTableColumn TItem="LibaryFileListModel" Hidden="(SelectedStatus == FileStatus.Duplicate)">
            <Header>
                @Globals.lblName
            </Header>
            <Cell Context="item">
                <span>@item.RelativePath</span>
            </Cell>
        </FlowTableColumn>
        <FlowTableColumn TItem="LibaryFileListModel" Hidden="(SelectedStatus != FileStatus.Duplicate)" Pre="true">
            <Header>
                @Globals.lblName
            </Header>
            <Cell Context="item">@item.Name
                @item.Duplicate</Cell>
        </FlowTableColumn>
        <FlowTableColumn TItem="LibaryFileListModel" Width="10rem" MobileWidth="0" Hidden="@(Client.App.Instance.IsMobile || (SelectedStatus == FileStatus.Unprocessed || SelectedStatus == FileStatus.Processed || SelectedStatus == FileStatus.Processing || SelectedStatus == FileStatus.ProcessingFailed || SelectedStatus == FileStatus.OutOfSchedule || SelectedStatus == FileStatus.Disabled) == false)">
            <Header>
                @if (SelectedStatus == FileStatus.Unprocessed || SelectedStatus == FileStatus.OutOfSchedule || SelectedStatus == FileStatus.Disabled)
                {
                    <span>Found</span>
                }
                else if (SelectedStatus == FileStatus.Processing)
                {
                    <span>Started</span>
                }
                else if (SelectedStatus == FileStatus.Processed)
                {
                    <span>Finished</span>
                }
                else if (SelectedStatus == FileStatus.ProcessingFailed)
                {
                    <span>Failed</span>
                }
            </Header>
            <Cell Context="item">
                <span>@DateString(item.Date)</span>
            </Cell>
        </FlowTableColumn>
        <FlowTableColumn TItem="LibaryFileListModel" Width="12rem" MobileWidth="0" Hidden="@(Client.App.Instance.IsMobile || (int)SelectedStatus < 1 || SelectedStatus == FileStatus.Duplicate || SelectedStatus == FileStatus.MissingLibrary)">
            <Header>
                Flow
            </Header>
            <Cell Context="item">
                <span>@item.Flow</span>
            </Cell>
        </FlowTableColumn>
        <FlowTableColumn TItem="LibaryFileListModel" Width="12rem" MobileWidth="0" Hidden="(Client.App.Instance.IsMobile || SelectedStatus == FileStatus.Processing || SelectedStatus == FileStatus.MissingLibrary)">
            <Header>
                Library
            </Header>
            <Cell Context="item">
                <span>@item.Library</span>
            </Cell>
        </FlowTableColumn>
        <FlowTableColumn TItem="LibaryFileListModel" Width="12rem" MobileWidth="0" Hidden="(Client.App.Instance.IsMobile || SelectedStatus != FileStatus.Processing)">
            <Header>
                Node
            </Header>
            <Cell Context="item">
                @if (item.Node == "FileFlowsServer")
                {
                    <span>@lblFileFlowsServer</span>
                }
                else
                {
                    <span>@item.Node</span>
                }
            </Cell>
        </FlowTableColumn>
        <FlowTableColumn TItem="LibaryFileListModel" Width="7rem" Hidden="((SelectedStatus == FileStatus.Processed || SelectedStatus == FileStatus.Processing || SelectedStatus == FileStatus.OnHold) == false)" MobileWidth="5rem">
            <Header>
                Time
            </Header>
            <Cell Context="item">
                @if (item.ProcessingTime == null)
                {
                    <span></span>
                }
                else if (SelectedStatus == FileStatus.OnHold)
                {
                    <span>@item.ProcessingTime.Value.Humanize()</span>
                }
                else
                {
                    <span>@String.Format(@"{0:hh\:mm\:ss}", item.ProcessingTime)</span>
                }
            </Cell>
        </FlowTableColumn>
        <FlowTableColumn TItem="LibaryFileListModel" Width="6rem" Hidden="SelectedStatus != FileStatus.MissingLibrary" MobileWidth="10rem">
            <Header>
                Status
            </Header>
            <Cell Context="item">
                <span>@(item.Status == null ? string.Empty : Translater.Instant("Enums.FileStatus." + item.Status))</span>
            </Cell>
        </FlowTableColumn>
        <FlowTableColumn TItem="LibaryFileListModel" Width="min(6rem, 10vw)" Hidden="@(SelectedStatus == FileStatus.Processed || App.Instance.IsMobile)">
            <Header>
                Size
            </Header>
            <Cell Context="item">
                @{
                    long fs = item.FinalSize ?? 0;
                    long os = item.OriginalSize ?? 0;
                    int width = (int)((((double)fs) / os) * 100);
                    bool bigger = width > 100;
                    if (width > 100)
                        width = 100;
                    string toolTip = Helpers.FileSizeFormatter.FormatShrinkage(os, fs);
                }
                @if (fs > 0)
                {
                    <div class="flow-bar @(bigger ? "grew" : "")" title="@toolTip">
                        <div class="bar-value" style="width:calc(@(width)% - 2px)"></div>
                    </div>
                }
            </Cell>
        </FlowTableColumn>
    </Columns>
</FlowTable>
</Body>

</PageView>