@namespace FileFlows.Client.Pages
@using FileFlows.Shared.Models
@inherits ListPage<ProcessingNode>

@page "/nodes"

<PageView>

    <Head>
        <a class="btn" target="_blank" href="@DownlaodUrl">@lblDownloadNode</a>
    </Head>

    <Body>
        <FlowTable @ref="Table" Data="@Data" TItem="ProcessingNode" Selection="SelectionMode.Multiple"
            DoubleClick="@OnDoubleClick">
            <ToolBar>            
                <FlowTableButton TItem="ProcessingNode" Clicked=Add Icon="fas fa-plus" Label="Labels.Add" />
                <FlowTableButton TItem="ProcessingNode" Clicked=Edit SelectedOne="true" Icon="fas fa-edit" Label="Labels.Edit" />
                <FlowTableButton TItem="ProcessingNode" Clicked=Delete SelectedOneOrMore="true" Icon="fas fa-trash" Label="Labels.Delete" />                
                <FlowTableHelpButton TItem="ProcessingNode" HelpUrl="ProcessingNodes" />
            </ToolBar>

            <Columns>
                <FlowTableColumn TItem="ProcessingNode" Width="10rem">
                    <Header>
                        @Globals.lblName
                    </Header>
                    <Cell Context="item">
                        @if (item.LastSeen < DateTime.Now.AddMinutes(-5))
                        {
                            <i title="Disconnected" class="processing-node status-error fas fa-times-circle"></i>
                        }
                        else if (item.LastSeen < DateTime.Now.AddMinutes(-1))
                        {
                            <i title="Possibly disconnected" class="processing-node status-warning fas fa-exclamation-circle"></i>
                        }
                        else
                        {
                            <i title="Running" class="processing-node status-ok fas fa-check-circle"></i>
                        }
                        <span>@item.Name</span>
                    </Cell>
                </FlowTableColumn>
                <FlowTableColumn TItem="ProcessingNode" Width="8rem" MobileWidth="0">
                    <Header>
                        @lblVersion
                    </Header>
                    <Cell Context="item">
                        <span>@item.Version</span>
                    </Cell>
                </FlowTableColumn>
                <FlowTableColumn TItem="ProcessingNode" Width="30vw" MobileWidth="0">
                    <Header>
                        @lblAddress
                    </Header>
                    <Cell Context="item">
                        @if(item.Address != FileFlowsServer)
                        {
                            <span>@item.Address</span>
                        }else
                        {
                            <span>Internal</span>
                        }
                    </Cell>
                </FlowTableColumn>
                <FlowTableColumn TItem="ProcessingNode" Width="8rem">
                    <Header>
                        @lblRunners
                    </Header>
                    <Cell Context="item">
                        <span>@item.FlowRunners</span>
                    </Cell>
                </FlowTableColumn>
                <FlowTableColumn TItem="ProcessingNode" Width="6rem" MobileWidth="4rem">
                    <Header>
                        @Globals.lblEnabled
                    </Header>
                    <Cell Context="item">
                        <FlowSwitch Value="@item.Enabled" ValueChanged="@(args => { item.Enabled= args; _ = Enable(args, item); })"  />
                    </Cell>
                </FlowTableColumn>
            </Columns>
        </FlowTable>

    </Body>

</PageView>