@namespace FileFlows.Client.Components.Inputs
@inherits Input<object>

<InputWrapper Input="@this" NoSpacing=@true>
    @if (Link)
    {
        <a href="@StringValue" target="_blank">@StringValue</a>
    }
    else if (Pre)
    {
        <span class="pre-text">@StringValue</span>
    }
    else {
        <span>@StringValue <i @onclick="CopyToClipboard" class="far fa-clipboard" title="@lblTooltip"></i></span>
    }
</InputWrapper>
