@namespace FileFlows.Client.Components.Dashboard


<div id="@Uid" class="grid-stack-item portlet line-data" gs-w="@Width" gs-h="@Height">
    <div class="title draghandle">
        @if (string.IsNullOrEmpty(Icon) == false)
        {
            <i class="@Icon"></i>
        }
        <span>@Title</span>
    </div>
    <div class="content">
        @if (ChartType != ApexChartType.TimeSeries)
        {
            <div id="@Uid-chart"></div>
        }
        else
        {
            <div id="@Uid-top"></div>
            <div id="@Uid-bottom"></div>
        }
    </div>
</div>