@namespace FileFlows.Client.Pages
@using FileFlows.Shared.Models
@using Humanizer
@inherits ListPage<Guid, FileFlowsTask>

@page "/tasks"

<PageView>

    <Head>
    </Head>

    <Body>
    <FlowTable @ref="Table" Data="@Data" TItem="FileFlowsTask" Selection="SelectionMode.Multiple"
               DoubleClick="@OnDoubleClick">
        <ToolBar>            
            <FlowTableButton TItem="FileFlowsTask" Clicked=Add Icon="fas fa-plus" Label="Labels.Add" />
            <FlowTableButton TItem="FileFlowsTask" Clicked=Edit SelectedOne="true" Icon="fas fa-edit" Label="Labels.Edit" />
            <FlowTableButton TItem="FileFlowsTask" Clicked=Delete SelectedOneOrMore="true" Icon="fas fa-trash" Label="Labels.Delete" />       
            <FlowTableButtonSeparator />             
            <FlowTableHelpButton TItem="FileFlowsTask" HelpUrl="ScheduledTasks" />
        </ToolBar>

        <Columns>
            <FlowTableColumn TItem="FileFlowsTask">
                <Header>
                    @Globals.lblName
                </Header>
                <Cell Context="item">
                    <span>@item.Name</span>
                </Cell>
            </FlowTableColumn>
            <FlowTableColumn TItem="FileFlowsTask" Width="14rem" MobileWidth="0" >
                <Header>
                    Type
                </Header>
                <Cell Context="item">
                    <span>@item.Type.Humanize()</span>
                </Cell>
            </FlowTableColumn>
            <FlowTableColumn TItem="FileFlowsTask" Width="14rem"  MobileWidth="0">
                <Header>
                    Schedule
                </Header>
                <Cell Context="item">
                    <span>@GetSchedule(item)</span>
                </Cell>
            </FlowTableColumn>
        </Columns>
    </FlowTable>

    </Body>

</PageView>