@namespace FileFlows.Client.Pages
@using FileFlows.Shared.Models
@using Humanizer
@inherits ListPage<Guid, FileFlowsTask>

@page "/tasks"

<PageView>

    <Head>
    </Head>

    <Body>
    <FlowTable @ref="Table" Data="@Data" TItem="FileFlowsTask" Selection="SelectionMode.Multiple"
               DoubleClick="@OnDoubleClick" TableIdentifier="Tasks">
        <ToolBar>            
            <FlowTableButton Clicked=Add Icon="fas fa-plus" Label="Labels.Add" />
            <FlowTableButton Clicked=Edit SelectedOne="true" Icon="fas fa-edit" Label="Labels.Edit" />
            <FlowTableButton Clicked=Delete SelectedOneOrMore="true" Icon="fas fa-trash" Label="Labels.Delete" />
            <FlowTableButtonSeparator/>
            <FlowTableButton Clicked=Run SelectedOne="true" Icon="fas fa-running" Label="Labels.Run"/>
            <FlowTableButtonSeparator />             
            <FlowTableHelpButton HelpUrl="Tasks" />
        </ToolBar>

        <Columns>
            <FlowTableColumn TItem="FileFlowsTask">
                <Header>
                    @Globals.lblName
                </Header>
                <Cell Context="item">
                    <span>@item.Name</span>
                </Cell>
            </FlowTableColumn>
            <FlowTableColumn TItem="FileFlowsTask" Width="30rem" MobileWidth="0" >
                <Header>
                    Script
                </Header>
                <Cell Context="item">
                    <span>@item.Script</span>
                </Cell>
            </FlowTableColumn>
            <FlowTableColumn TItem="FileFlowsTask" Width="14rem" MobileWidth="0" >
                <Header>
                    @lblLastRun
                </Header>
                <Cell Context="item">
                    @if (item.LastRun < new DateTime(2000, 1, 1))
                    {
                        <span>@lblNever</span>
                    }
                    else{
                        <span>@item.LastRun.Humanize()</span>
                    }
                </Cell>
            </FlowTableColumn>
            <FlowTableColumn TItem="FileFlowsTask" Width="14rem" MobileWidth="0" >
                <Header>
                    @lblTrigger
                </Header>
                <Cell Context="item">
                    @if (item.Type == TaskType.Schedule)
                    {
                        <span>@GetSchedule(item)</span>
                    }
                    else
                    {
                        <span>@item.Type.Humanize()</span>
                    }
                </Cell>
            </FlowTableColumn>
        </Columns>
    </FlowTable>

    </Body>

</PageView>