@namespace FileFlows.Client.Pages
@inherits ListPage<Guid, FlowListModel>

@page "/flows"

<PageView Flex="@true" >

    <Head>
    </Head>

    <Body>
    
        <FlowSkyBox TItem="FlowType" @ref=Skybox OnSelected=@SetSelected />
    
@if (SelectedType == FlowType.Failure)
{
    <div class="info box">This is a special flow type that will be executed if any flow fails.
FileFlows will search for the 'Default' Failure Flow to use if a flow fails, if not found then processing will immediately stop.
    </div>
}
    
    <FlowTable @ref="Table" Data="@(SelectedType == FlowType.Failure ? DataFailure : DataStandard)" TItem="FlowListModel" Selection="SelectionMode.Multiple"
            DoubleClick="@OnDoubleClick" TableIdentifier=@TableIdentifier>
            <ToolBar>            
                <FlowTableButton Clicked=Add Icon="fas fa-plus" Label="Labels.Add" />
                <FlowTableButton Clicked=Edit SelectedOne="true" Icon="fas fa-edit" Label="Labels.Edit" />
                <FlowTableButton Clicked=Delete SelectedOneOrMore="true" Icon="fas fa-trash" Label="Labels.Delete" />     
                <FlowTableButtonSeparator />
                @if (SelectedType == FlowType.Failure)
                {
                    <FlowTableButton Clicked=SetDefault SelectedOne="true" Icon="fas fa-check" Label="Labels.Default" />
                }
                @if (App.Instance.IsMobile == false)
                {
                    <FlowTableButton Clicked=Duplicate SelectedOne="true" Icon="fas fa-clone" Label="Labels.Duplicate" />
                    <FlowTableButton Clicked=Import Icon="fas fa-file-import" Label="Labels.Import" />
                    <FlowTableButton Clicked=Export SelectedOneOrMore="true" Icon="fas fa-file-export" Label="Labels.Export" />
                    if (DEBUG)
                    {
                        <FlowTableButton Clicked=Template SelectedOne="true" Icon="fas fa-file-export" Label="Template" />
                    }
                }
                <FlowTableButtonSeparator />
                <FlowTableButton Clicked=UsedBy SelectedOne="true" Icon="fas fa-info-circle" Label="Labels.UsedBy" />   
                @if (App.Instance.FileFlowsSystem.Licensed)
                {
                    <FlowTableButton Clicked=Revisions SelectedOne="true" Icon="fas fa-history" Label="Labels.Revisions" />
                }
                <FlowTableButtonSeparator />
                <FlowTableHelpButton  HelpUrl="flows" />
            </ToolBar>

            <Columns>
                <FlowTableColumn TItem="FlowListModel">
                    <Header>
                        @Globals.lblName
                    </Header>
                    <Cell Context="item">
                        <span>@item.Name</span>
                    </Cell>
                </FlowTableColumn>
                <FlowTableColumn TItem="FlowListModel" Hidden="@(SelectedType != FlowType.Failure)" Width="10rem">
                    <Header>
                        Default
                    </Header>
                    <Cell Context="item">
                        <span>
                            @if (item.Default)
                            {
                                <i class="fas fa-check"></i>
                            }
                        </span>
                    </Cell>
                </FlowTableColumn>
                <FlowTableColumn TItem="FlowListModel" Width="10rem">
                    <Header>
                        In Use
                    </Header>
                    <Cell Context="item">
                        @if (item.UsedBy?.Any() == true)
                        {
                            <i class="fas fa-check"></i>
                        }
                    </Cell>
                </FlowTableColumn>
            </Columns>
        </FlowTable>

    </Body>

</PageView>

@if(SelectedType != FlowType.Failure && Loaded && Data.Count == 0)
{
    // 155px here because of skybox
    <div class="pointer-add" style="top:9.75rem">Add</div>
}

<NewFlowEditor @ref=AddEditor />