@namespace FileFlows.Client.Pages
@using ffFlow = FileFlows.Shared.Models.Flow;
@inherits ListPage<ffFlow>

@page "/flows"

<PageView>

    <Head>
    </Head>

    <Body>
        <FlowTable @ref="Table" Data="@Data" TItem="ffFlow" Selection="SelectionMode.Multiple"
            DoubleClick="@OnDoubleClick">
            <ToolBar>            
                <FlowTableButton TItem="ffFlow" Clicked=Add Icon="fas fa-plus" Label="Labels.Add" />
                <FlowTableButton TItem="ffFlow" Clicked=Edit SelectedOne="true" Icon="fas fa-edit" Label="Labels.Edit" />
                <FlowTableButton TItem="ffFlow" Clicked=Delete SelectedOneOrMore="true" Icon="fas fa-trash" Label="Labels.Delete" />                
            </ToolBar>

            <Columns>

                <FlowTableColumn TItem="ffFlow">
                    <Header>
                        Name
                    </Header>
                    <Cell Context="item">
                        <span>@item.Name</span>
                    </Cell>
                </FlowTableColumn>
                <FlowTableColumn TItem="ffFlow" Width="12rem" MobileWidth="4rem">
                    <Header>
                        Enabled
                    </Header>
                    <Cell Context="item">
                        <FlowSwitch Value="@item.Enabled" ValueChanged="@(args => { item.Enabled= args; _ = Enable(args, item); })"  />
                    </Cell>
                </FlowTableColumn>
            </Columns>
        </FlowTable>

    </Body>

</PageView>