@namespace FileFlow.Client.Components.Inputs
@inherits Input<object>

<InputWrapper Input="@this">
    <div>
        <select id=@Uid @onchange="SelectionChanged" class="@(SelectedIndex == -1 ? "select-one" : "")">
            @if (AllowClear)
            {
                <option class="select-one" selected=@(SelectedIndex == -1 ? "selected" : null) value="@(-1)">@lblSelectOne
                </option>
            }
            @{
                int index = -1;
            }
            @foreach (var opt in Options)
            {
                ++index;
                <option selected=@(SelectedIndex == index ? "selected" : null) value="@(index)">@opt.Label</option>
            }
        </select>
    </div>
</InputWrapper>
