@namespace FileFlows.Client.Components.Inputs
@inherits Input<object>

<InputWrapper Input="@this">
    <div>
        <select id=@Uid @onchange="SelectionChanged" class="@(SelectedIndex == -1 ? "select-one" : "")" @onkeydown="OnKeyDown">
            @if (AllowClear)
            {
                <option class="select-one" selected=@(SelectedIndex == -1 ? "selected" : null) value="@(-1)">@lblSelectOne
                </option>
            }
            @{
                int index = -1;
                foreach (var group in Groups)
                {
                    if (group.Key == string.Empty)
                    {                        
                        foreach (var opt in group.Value)
                        {
                            ++index;
                            <option selected=@(SelectedIndex == index ? "selected" : null) value="@(index)">@opt.Label</option>
                        }
                    }
                    else
                    {
                        <optgroup label=@group.Key>
                            @foreach (var opt in group.Value)
                            {
                                ++index;
                                <option selected=@(SelectedIndex == index ? "selected" : null) value="@(index)">@opt.Label</option>
                            }
                        </optgroup>
                    }
                }
            }
        </select>
    </div>
</InputWrapper>