@namespace FileFlows.Client.Pages

@page "/flows/{uid:guid}"

@{
    bool isNew = Model == null || Model.Uid == System.Guid.Empty;
}

<PageView FullWidth=@true title="@Title">
    <HeadLeft>
        <input class="flow-name" type="text" @bind-value="@Name" autocomplete="off" placeholder="@lblName" />
    </HeadLeft>

    <Head>
        <button class="save-button" @onclick="() => Save()">
            @if(IsSaving)
            {
                @lblSaving
            }
            else
            {
                @lblSave
            }
        </button>
        <button @onclick="() => Close()">@lblClose</button>
    </Head>

    <Body>
        <div class="flow-container">
            <div class="flow-elements">
                <div class="flow-elements-filter">
                    <input @ref="eleFilter" type="text" @bind-value="txtFilter" @bind-value:event="oninput" autocomplete="off" placeholder="@lblFilter" @onkeydown="FilterKeyDown" />
                    <i class="fas fa-search"></i>
                </div>
                <ul id="flow-elements-available">
                    @if (Filtered != null)
                    {
                        @foreach (var grp in Filtered.GroupBy(x => x.Group))
                        {
                            <li class="group">@Helpers.FlowHelper.FormatLabel(grp.Key)</li>
                            foreach (var ele in grp)
                            {
                                <li id="@ele.Uid" draggable="true" class="flow-element draggable @ele.Type"
                        ondragstart="ffFlow.Mouse.dragElementStart(event)">
                                    <div class="icon-wrapper"><span class="icon @ele.Icon"></span></div>
                                    @ele.DisplayName
                                </li>
                            }
                        }
                    }
                </ul>
            </div>
            <div class="flow-parts" id="flow-parts">
                <canvas width="8000" height="4000" tabindex="1"></canvas>
            </div>
        </div>
    </Body>
</PageView>