@namespace ViWatcher.Client.Pages

@page "/flow"

<PageView>
    <Head>
        <RadzenButton class="save-button" BusyText="@lblSaving" 
            IsBusy=@IsSaving Click=@Save Text="@lblSave" />
    </Head>
    <Body>                   
        <div class="flow-container">
            <div class="flow-elements">
                <ul id="flow-elements-available">                    
                 @if(Available != null){
                        @foreach(var ele in Available){
                            <li id="@ele.Uid" draggable="true" class="flow-element draggable @ele.Type" ondragstart="ViFlow.dragElementStart(event)">@ele.Name</li>
                        }
                    }
                </ul>
            </div>
            <div class="flow-parts" id="flow-parts" ondragover="ViFlow.drop(event, false)" ondrop="ViFlow.drop(event, true)" @onclick="() => Select(null)">                
                <canvas width="8000" height="4000" tabindex="1"></canvas>
                @if(Parts != null)
                {
                    <CascadingValue IsFixed="true" Value="this">
                    @foreach(var part in Parts){                        
                        <FlowElement Part="part" Selected="@(part == SelectedPart)" OnSelect="() => Select(part)" OnEdit="() => Edit(part)"></FlowElement>
                    }
                    </CascadingValue>
                }

            </div>
        </div>
    </Body>
</PageView>

<FlowPartEditor @ref="Editor"></FlowPartEditor>