@namespace FileFlows.Client.Components.Dashboard
@typeparam TItem

<div class="portlet line-data">
    <div class="title">
        @if (string.IsNullOrEmpty(Icon) == false)
        {
            <i class="@Icon"></i>
        }
        <span>@Title</span>
    </div>
    <div class="content">
        
        @if (Data?.Any() == true)
        {
            <ApexChart @ref="chartTop" TItem="SystemValue<TItem>" Options="chartTopOptions" Height="150" XAxisType="XAxisType.Datetime">
                <ApexPointSeries TItem="SystemValue<TItem>"
                                 Items="Data"
                                 SeriesType="@SeriesType.Area"
                                 Name=@Title
                                 OrderBy="x => x.X"
                                 XValue="@(e => e.Time)"
                                 YValue="@(x => Convert.ToDecimal(x.Value))"
                                 Stroke="@(new SeriesStroke { Width = 1, Color = colorBlue })"/>
            </ApexChart>


            <ApexChart @ref=chartBottom TItem="SystemValue<TItem>"
                       Options=chartBottomOptions
                       Height="80"
                       XAxisType="XAxisType.Datetime">

                <ApexPointSeries TItem="SystemValue<TItem>"
                                 SeriesType="SeriesType.Bar"
                                 Items="@Data"
                                 XValue="@(x => x.Time)"
                                 YValue="@(x => Convert.ToDecimal(x.Value))"
                                 OrderBy="x => x.X"
                                 Stroke="@(new SeriesStroke { Width = 1, Color = "var(--accent)" })"/>
            </ApexChart>
        }
    </div>
</div>