@namespace FileFlows.Client.Components.Inputs

@inherits Input<object>

<InputWrapper Input="@this">   
    TABLE!!
    <table class="table">
        <thead>
            <tr>
                @foreach (var c in Columns)
                {
                    string name = c.Name?.EmptyAsNull() ?? c.Property ?? string.Empty;
                    if (string.IsNullOrEmpty(c.Width) == false)
                    {
                        <th style="width:@c.Width">@name</th>
                    }
                    else
                    {
                        <th>@name</th>
                    }
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Data)
            {
                <tr>
                    @foreach (var c in Columns)
                    {
                        string value = GetValueString(c, item);
                        if (string.IsNullOrEmpty(c.Width) == false)
                        {
                            <td style="width:@c.Width">@value</td>
                        }
                        else
                        {
                            <td>@value</td>
                        }
                    }
                </tr>
            }
        </tbody>
    </table>
</InputWrapper>
