@namespace FileFlows.Client.Shared

@if (Active != null)
{
    <PageTitle>FileFlows - @Active.Title</PageTitle>
}

<div class="top-row navbar navbar-dark">
    <a class="navbar-brand" target="_blank" href="https://fileflows.com/" rel="noreferrer">
        
    </a>
    <span class="page-title">
        @if (Active != null)
        {
            <span class="icon @Active?.Icon"></span>
            @Active.Title
        }
    </span>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="fas fa-bars"></span>
    </button>
</div>

<div class="nav-menu-container @NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        @foreach (var group  in MenuItems)
        {
            <li class="nav-menu-group">
                @if(string.IsNullOrEmpty(group.Icon) == false)
                {
                    <span class="icon @group.Icon" aria-hidden="true"></span>
                }
                <span class="text-label">@group.Name</span>
            </li>
            @foreach (var item in group.Items)
            {
                if (item == null)
                {
                    continue;
                }
                <li class="nav-item @(item.Url == ""  ? "dashboard" : item.Url.Replace("/", ""))">
                    <a class="nav-link @(Active == item  ? "active": "")" href="@item.Url" @onclick:preventDefault @onclick:stopPropagation
                                                                                           @onclick="() => Click(item)">
                        <span class="icon @item.Icon" aria-hidden="true"></span>
                        <span class="text-label">@item.Title</span>
                        @if (item.Url == "library-files" && (Processing > 0 || Failed > 0 || Unprocessed > 0))
                        {
                            <ul class="bubbles">
                                <li title="Unprocessed" class="bubble Unprocessed d-@(new string('0', Unprocessed.ToString().Length))">@Unprocessed</li>
                                @if (Processing > 0)
                                {
                                    <li title="Processing" class="bubble Processing d-@(new string('0', Processing.ToString().Length))">@Processing</li>
                                }
                                @if (Failed > 0)
                                {
                                    <li title="Failed" class="bubble Failed d-@(new string('0', Failed.ToString().Length))">@Failed</li>
                                }
                            </ul>
                        }
                    </a>
                    @{
                        string stepLabel = GetStepLabel(item);
                        if (stepLabel != null)
                        {
                            <div class="not-configured-pointer">@stepLabel</div>
                        }
                    }
                </li>
            }
        }
        <li class="nav-item help">
            <a class="nav-link" href="https://docs.fileflows.com/" target="_blank" rel="noreferrer">
                <span class="icon far fa-question-circle" aria-hidden="true"></span> <span class="text-label">@lblHelp</span>
            </a>
        </li>
        <li class="nav-item forum">
            <a class="nav-link" href="https://forum.fileflows.com/" target="_blank" rel="noreferrer">
                <span class="icon fas fa-comments" aria-hidden="true"></span> <span class="text-label">@lblForum</span>
            </a>
        </li>
        <li class="nav-item discord">
            <a class="nav-link" href="https://fileflows.com/discord" target="_blank" rel="noreferrer">
                <span class="icon fab fa-discord" aria-hidden="true"></span> <span class="text-label">@lblDiscord</span>
            </a>
        </li>
    </ul>
    
    <div class="support-links">
        <a href="https://forum.fileflows.com" rel="noreferrer" target="_blank" title="@lblForum"><i class="fas fa-comments"></i></a>
        <a href="https://fileflows.com/discord" rel="noreferrer" target="_blank" title="@lblDiscord"><i class="fab fa-discord"></i></a>
    </div> 

    <div class="version-info">
        @lblVersion: <a href="http://docs.fileflows.com/versions" rel="noreferrer" target="_blank">@Globals.Version</a>
    </div>
</div>