@namespace FileFlows.Client.Components.Dialogs

<Modal Title="@Title" Visible="Visible">

    <Body>
    <span class="confirm-message">@Message</span>
    @if (ShowSwitch)
    {
        <div class="switch">
            <FlowSwitch @bind-Value=@SwitchState />
            <span>@SwitchMessage</span>
        </div>
    }
    </Body>
    <Footer>
        <button id="@btnYesUid" @onclick=@Yes disabled="@(RequireSwitch && ShowSwitch && SwitchState == false)">@lblYes</button>
        <button @onclick=@No>@lblNo</button>
    </Footer>
</Modal>