@namespace FileFlows.Client.Components.Common
@typeparam TItem

<div class="flowtable">

    <CascadingValue Value="this">
        @Columns

        <div class="flowtable-toolbar">
        
            <div class="flowtable-toolbar-buttons">
                @ToolBar
            </div>
            <div class="flowtable-toolbar-filter">
                <input type="text" @bind-value="FilterText" @bind-value:event="oninput" autocomplete="off" />
                <i class="fas fa-search"></i>
            </div>
        </div>
    </CascadingValue>

    <style> 
        @foreach(var col in this.ColumnList)
        {
            string hashcode = ".col-" + col.GetHashCode();
            if(string.IsNullOrEmpty(col.Width) == false)
            {
                <text>
                @hashcode { 
                    min-width:@col.Width;
                    max-width:@col.Width;
                    width:@col.Width;
                }
                </text>
            }
            @if(string.IsNullOrEmpty(col.MobileWidth) == false)
            {
                <text>
                    @@media screen and (max-width: 578px) {
                        @hashcode {
                            min-width:@(col.MobileWidth == "auto" ? "unset" : col.MobileWidth);
                            max-width:@(col.MobileWidth == "auto" ? "unset" : col.MobileWidth);
                            width:@(col.MobileWidth == "auto" ? "unset" : col.MobileWidth);

                        }
                    }
                </text>
            }
        }
    </style>

    <div class="flowtable-data">

        <div class="flowtable-header">
            <div class="flowtable-row flowtable-header-row">
                @if(Selection != SelectionMode.None)
                {
                    <span style="width:2rem;min-width:2rem;max-width:2rem">
                        <input type="checkbox" @onchange="(e) => SelectAll(e)" checked="@(DisplayData.Any(i => SelectedItems != null && SelectedItems.Contains(i.Key)))"  />                        
                    </span>
                }
                @foreach(var col in ColumnList)
                {
                    string hashcode = "col-" + col.GetHashCode();
                    <span class="@col.ClassName @hashcode @(col.Hidden ? "hidden" : "")" style="@col.Style">
                        @col.Header
                    </span>
                }
            </div>
        </div>
        <div class="flowtable-body">
            @if (Data != null)
            {
                <Virtualize Items="@DisplayData" Context="item" ItemSize="25"  OverscanCount="4">
                    @{
                        bool selected = Selection != SelectionMode.None && SelectedItems?.Contains(item.Key) == true;
                    }
                    <div class="flowtable-row @(selected ? "selected" : "")" @ondblclick="() => OnDoubleClick(item.Key)" @onclick="() => OnClick(item.Key)">
                        @if(Selection!= SelectionMode.None)
                        {
                            <span style="width:2rem;min-width:2rem;max-width:2rem">
                                <input type="checkbox" @onchange="(e) => CheckItem(e, item.Key)" checked="@(SelectedItems?.Contains(item.Key) == true)"  />                        
                            </span>
                        }
                        @foreach (var col in ColumnList)
                        {
                            string hashcode = "col-" + col.GetHashCode();
                            <span class="@col.ClassName @hashcode @(col.Hidden ? "hidden": "")" style="@col.Style">
                                @col.Cell(item.Key)
                            </span>
                        }
                    </div>                        
                </Virtualize>
            }
        </div>
    </div>
</div>
