@namespace FileFlows.Client.Components
@using FileFlows.Shared
@using FileFlows.Plugin;
@using Humanizer

@if (Visible)
{
    <div class="editor-wrapper">
        <div class="background-overlay"></div>
        <div id=@Uid class="editor @(Maximised ? "maximised" : "") @(Large ? "large" : "") @(TypeName?.Dehumanize()) @(ReadOnly ? "readonly" : "")">

            <ViContainer Title="@Title" Icon="@Icon" FullWidth=@true AlwaysShowTitle=@true Maximise=true OnMaximised=@OnMaximised>

                <Head>
                    @if (ShowDownload)
                    {
                        <a href="@DownloadUrl" class="btn btn-download" target="_blank"><span>@lblDownloadButton</span></a>
                    }
                    
                    @foreach (var btn in AdditionalButtons)
                    {
                        <button @onclick=@((e) => btn.Clicked(this, e))>@btn.Label</button>
                    }

                    @if (ReadOnly)
                    {
                        <button @onclick=@Cancel>@lblClose</button>
                    }
                    else
                    {
                        <button @onclick=@Save>
                            @if (IsSaving)
                            {
                                @lblSaving
                            }
                            else
                            {
                                @lblSave
                            }
                        </button>
                        <button @onclick=@Cancel>@lblCancel</button>
                    }

                    @if (string.IsNullOrEmpty(HelpUrl) == false)
                    {
                        <button @onclick=@OpenHelp>@lblHelp</button>
                    }
                </Head>

                <Body>
                <CascadingValue IsFixed="true" Value="this">
                    <div class="fields">
                        @FieldsFragment
                    </div>
                </CascadingValue>
                </Body>
            </ViContainer>
        </div>

    </div>
}