@namespace FileFlows.Client.Components
@using FileFlows.Shared
@using FileFlows.Plugin;

@if (Visible)
{
    <div class="editor-wrapper">
        <div class="background-overlay"></div>
        <div class="editor @(Large ? "large" : "")">

            <ViContainer Title="@Title" Icon="@Icon" FullWidth=@true AlwaysShowTitle=@true>

                <Head>
                    @if (ReadOnly)
                    {
                        <button @onclick=@Cancel>@lblClose</button>
                    }
                    else
                    {
                        <button @onclick=@Save> 
                            @if (IsSaving)
                            {
                                @lblSaving
                            }
                            else
                            {
                                @lblSave
                            }
                        </button>
                        <button @onclick=@Cancel>@lblCancel</button>
                    }

                    @if(string.IsNullOrEmpty(HelpUrl) == false)
                    {
                        <button @onclick=@OpenHelp>@lblHelp</button>
                    }
                </Head>

                <Body>
                    <CascadingValue IsFixed="true" Value="this">
                        <div class="fields">
                            @if(string.IsNullOrEmpty(EditorDescription) == false){
                                <div class="description">@EditorDescription</div>
                            }
                            @if (Fields?.Any() == true)
                            {
                                <FlowPanel Fields=@Fields></FlowPanel>

                                @if (AdditionalFields != null)
                                {
                                    @AdditionalFields
                                }
                                <div class="empty"></div>
                            }
                            @if(Tabs?.Any() == true)
                            {
                                <FlowTabs>
                                @foreach(var tab in Tabs)
                                {
                                    <FlowTab Title=@tab.Key>
                                        <FlowPanel Fields=@tab.Value></FlowPanel>

                                    </FlowTab>
                                }
                                </FlowTabs>
                            }
                        </div>
                    </CascadingValue>
                </Body>
            </ViContainer>
        </div>

    </div>
}