@namespace FileFlows.Client.Pages
@using FileFlows.Shared.Models
@inherits ListPage<PluginInfoModel>

@page "/plugins"

<PageView>

    <Head>
    </Head>

    <Body>
        
        <FlowTable @ref="Table" Data="@Data" TItem="PluginInfoModel" Selection="SelectionMode.Multiple"
            DoubleClick="@OnDoubleClick">
            <ToolBar>            
                <FlowTableButton TItem="PluginInfoModel" Clicked=Add Icon="fas fa-plus" Label="Labels.Add" />
                <FlowTableButton TItem="PluginInfoModel" Clicked=Edit SelectedOne="true" Icon="fas fa-edit" Label="Labels.Edit" />
                <FlowTableButton TItem="PluginInfoModel" Clicked=Update SelectedOneOrMore="true" Icon="fas fa-cloud-download-alt" Label="Labels.Update" />                
            </ToolBar>

            <Columns>

                <FlowTableColumn TItem="PluginInfoModel">
                    <Header>
                        Name
                    </Header>
                    <Cell Context="item">
                        <span>@item.Name</span>
                    </Cell>
                </FlowTableColumn>
                <FlowTableColumn TItem="PluginInfoModel" Width="10rem">
                    <Header>
                        Version
                    </Header>
                    <Cell Context="item">
                        <span>@item.Version</span>
                    </Cell>
                </FlowTableColumn>
                <FlowTableColumn TItem="PluginInfoModel" Width="10rem">
                    <Header>
                        Latest Version
                    </Header>
                    <Cell Context="item">
                        <span>@item.LatestVersion</span>
                    </Cell>
                </FlowTableColumn>
                <FlowTableColumn TItem="PluginInfoModel" Width="12rem">
                    <Header>
                        Assembly
                    </Header>
                    <Cell Context="item">
                        <span>@item.Assembly</span>
                    </Cell>
                </FlowTableColumn>
                <FlowTableColumn TItem="PluginInfoModel" Width="10rem">
                    <Header>
                        Enabled
                    </Header>
                    <Cell Context="item">
                        <FlowSwitch Value="@item.Enabled" ValueChanged="@(args => { item.Enabled= args; _ = Enable(args, item); })"  />
                    </Cell>
                </FlowTableColumn>
            </Columns>
        </FlowTable>
    </Body>

</PageView>