@namespace FileFlows.Client.Pages
@using FileFlows.Shared.Models
@inherits ListPage<Guid, PluginInfoModel>

@page "/plugins"

<PageView>

    <Head>
    </Head>

    <Body>
        
        <FlowTable @ref="Table" Data="@Data" TItem="PluginInfoModel" Selection="SelectionMode.Multiple"
            DoubleClick="@DoubleClick">
            <ToolBar>            
                <FlowTableButton TItem="PluginInfoModel" Clicked=Add Icon="fas fa-plus" Label="Labels.Add" />
                <FlowTableButton TItem="PluginInfoModel" Clicked=AboutAction SelectedOne="true" Icon="fas fa-info-circle" Label="Labels.About" />                
                <FlowTableButton TItem="PluginInfoModel" Clicked=Update SelectedOneOrMore="true" Icon="fas fa-cloud-download-alt" Label="Labels.Update" />                
                <FlowTableButton TItem="PluginInfoModel" Clicked=Edit SelectedOne="true" Icon="fas fa-edit" Label="Labels.Edit" />
                <FlowTableButton TItem="PluginInfoModel" Clicked=Delete SelectedOneOrMore="true" Icon="fas fa-trash" Label="Labels.Delete" />
                <FlowTableButton TItem="PluginInfoModel" Clicked=UsedBy SelectedOne="true" Icon="fas fa-info-circle" Label="Labels.UsedBy" />   
                <FlowTableHelpButton TItem="PluginInfoModel" HelpUrl="plugins" />
            </ToolBar>

            <Columns>

                <FlowTableColumn TItem="PluginInfoModel">
                    <Header>
                        @Globals.lblName
                    </Header>
                    <Cell Context="item">
                        <span>@item.Name</span>
                    </Cell>
                </FlowTableColumn>
                <FlowTableColumn TItem="PluginInfoModel" Width="10rem" MobileWidth="0">
                    <Header>
                        Elements
                    </Header>
                    <Cell Context="item">
                        <span>@(item.Elements?.Count ?? 0)</span>
                    </Cell>
                </FlowTableColumn>
                <FlowTableColumn TItem="PluginInfoModel" Width="6rem" MobileWidth="0">
                    <Header>
                        Settings
                    </Header>
                    <Cell Context="item">
                        @if(@item.Settings?.Any() == true)
                        {
                            <i class="fas fa-check"></i>
                        }
                    </Cell>
                </FlowTableColumn>
                <FlowTableColumn TItem="PluginInfoModel" Width="10rem" MobileWidth="0">
                    <Header>
                        Version
                    </Header>
                    <Cell Context="item">
                        <span>@item.Version</span>
                    </Cell>
                </FlowTableColumn>
                <FlowTableColumn TItem="PluginInfoModel" Width="10rem" MobileWidth="0">
                    <Header>
                        Latest Version
                    </Header>
                    <Cell Context="item">
                        <span>@item.LatestVersion</span>
                    </Cell>
                </FlowTableColumn>
                <FlowTableColumn TItem="PluginInfoModel" Width="6rem">
                    <Header>
                        In Use
                    </Header>
                    <Cell Context="item">
                        @if (item.UsedBy?.Any() == true)
                        {
                            <i class="fas fa-check"></i>
                        }
                    </Cell>
                </FlowTableColumn>
            </Columns>
        </FlowTable>
    </Body>

</PageView>

<PluginBrowser @ref="PluginBrowser" />