@namespace FileFlows.Client.Pages
@using FileFlows.Shared.Models
@inherits ListPage<PluginInfoModel>

@page "/plugins"

<PageView>

    <Head>
    </Head>

    <Body>
        
        <FlowTable @ref="Table" Data="@Data" TItem="PluginInfoModel" Selection="SelectionMode.Multiple"
            DoubleClick="@OnDoubleClick">
            <ToolBar>            
                <FlowTableButton TItem="PluginInfoModel" Clicked=Add Icon="fas fa-plus" Label="Labels.Add" />
                <FlowTableButton TItem="PluginInfoModel" Clicked=Update SelectedOneOrMore="true" Icon="fas fa-cloud-download-alt" Label="Labels.Update" />                
                <!--<FlowTableButton TItem="PluginInfoModel" Clicked=Edit SelectedOne="true" Icon="fas fa-edit" Label="Labels.Edit" />-->
                <FlowTableButton TItem="PluginInfoModel" Clicked=Delete SelectedOneOrMore="true" Icon="fas fa-trash" Label="Labels.Delete" />
                <FlowTableHelpButton TItem="PluginInfoModel" HelpUrl="Plugins" />
            </ToolBar>

            <Columns>

                <FlowTableColumn TItem="PluginInfoModel">
                    <Header>
                        @Globals.lblName
                    </Header>
                    <Cell Context="item">
                        <span>@item.Name</span>
                    </Cell>
                </FlowTableColumn>
                <FlowTableColumn TItem="PluginInfoModel" Width="10rem" MobileWidth="0">
                    <Header>
                        Version
                    </Header>
                    <Cell Context="item">
                        <span>@item.Version</span>
                    </Cell>
                </FlowTableColumn>
                <FlowTableColumn TItem="PluginInfoModel" Width="10rem" MobileWidth="0">
                    <Header>
                        Latest Version
                    </Header>
                    <Cell Context="item">
                        <span>@item.LatestVersion</span>
                    </Cell>
                </FlowTableColumn>
            </Columns>
        </FlowTable>
    </Body>

</PageView>

<PluginBrowser @ref="PluginBrowser" />