@namespace FileFlows.Client.Pages
@using FileFlows.Shared.Models

@page "/plugins"

<PageView>

    <Head>
    </Head>

    <Body>
        <div class="plugins page-table">
            <div class="table-toolbar">
                <button @onclick="@Add"><span class="fas fa-plus"></span>@lblAdd</button>
                <button @onclick="@Edit"
                    disabled="@(SelectedItems?.FirstOrDefault()?.HasSettings == true ? null : "disabled")"><span
                        class="fas fa-edit"></span>
                    @lblEdit</button>
                <button @onclick="@Update"
                    disabled="@(SelectedItems?.Count == 1 && SelectedItems[0].UpdateAvailable ? null : "disabled")"><span
                        class="fas fa-cloud-download-alt"></span>
                    @lblUpdate</button>
            </div>

            <RadzenDataGrid @ref="DataGrid" AllowFiltering="true" SelectionMode="DataGridSelectionMode.Single"
                RowDoubleClick=@RowDoubleClicked @bind-Value=@SelectedItems AllowColumnResize="true"
                FilterMode="FilterMode.Advanced" AllowSorting="true" Data="@Data" TItem="PluginInfoModel"
                LogicalFilterOperator="LogicalFilterOperator.Or">
                <Columns>
                    <RadzenDataGridColumn TItem="PluginInfoModel" Width="40px" Sortable="false" Filterable="false">
                        <HeaderTemplate>
                        </HeaderTemplate>
                        <Template Context="data">
                            <RadzenCheckBox TriState="false"
                                Value="@(SelectedItems != null && SelectedItems.Contains(data))" />
                        </Template>
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="PluginInfoModel" Property="Name" Title="Name" />
                    <RadzenDataGridColumn TItem="PluginInfoModel" Property="Version" Title="Version" />
                    <RadzenDataGridColumn TItem="PluginInfoModel" Property="LatestVersion" Title="Latest Version" />
                    <RadzenDataGridColumn TItem="PluginInfoModel" Property="Assembly" Title="Assembly" />
                    <RadzenDataGridColumn TItem="PluginInfoModel" Property="Enabled" Title="Enabled">
                        <Template Context="item">
                            <div class="switch-wrapper">
                                <RadzenSwitch @bind-Value="@item.Enabled" Change="@(args => Enable(args, item))" />
                            </div>
                        </Template>
                    </RadzenDataGridColumn>
                </Columns>
            </RadzenDataGrid>
        </div>
    </Body>

</PageView>