@namespace FileFlows.Client.Components.Inputs
@inherits Input<TItem>
@typeparam TItem

<InputWrapper Input="@this">
    <div class="input-number-wrapper">
        <div class="flow-numeric">
            <input id=@Uid type="number" value="@Value" disabled=@(Disabled ? string.Empty : null) @onchange="ChangeValue" placeholder="@Placeholder" min="@Min" max="@Max"  @onkeydown="OnKeyDown" />
        </div>
        @if (string.IsNullOrEmpty(Suffix) == false)
        {
            <div class="suffix">
                @Suffix
            </div>
        }
    </div>
</InputWrapper>