@namespace FileFlow.Client.Pages

@page "/"

@for (int i = 0; i < Workers.Count; i++)
{
    var worker = Workers[i];
    <div class="worker-wrapper">
        <div class="chart chart-@i"></div>
        <div class="worker-info">
            <span class="current">@worker.CurrentFile</span>
            <span class="status">@worker.Status</span>
            <span class="current-step">@worker.CurrentPartName</span>
            <div class="actions">
                <RadzenButton Click="() => LogClicked(worker)" Text="@lblLog" />
                <RadzenButton Click="() => CancelClicked(worker)" Text="@lblCancel" />
            </div>
        </div>
    </div>
}